.sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}