.example-card {
  width: 400px;
  margin: 0 8px 16px 8px;
  padding: 24px 16px;

  ::ng-deep .mat-card-header-text {
    margin: 0px;
  }

  mat-card-header {
    display: flex;
    justify-content: space-between;
  }

  mat-icon {
    cursor: pointer;
  }

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}
